<section class="cat-section">
  <div class="bg-cover cat-img-1"></div>
  <div class="cat-section-text">
    <h2 class="cat-title">Cats are cute.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptatibus sit quo molestiae consequuntur laboriosam ipsam dolores vitae, debitis nihil cupiditate ad totam, iste repellendus eaque. Deleniti enim et aperiam?</p>
  </div>  
</section>